body{
    background-color: rgb(15, 40, 153);
    color: aliceblue;

}

body h1{
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
    padding-left: 15px;
     padding-right: 15px;
     gap: 100px;
     background-color: blueviolet;
}

header Ul{
    display: flex;
    text-decoration: none;
}